<div class="auth-container">
  <div class="form-box">
    <h2>Iniciar sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-control">
        <input type="email" formControlName="email" placeholder="Correo electrónico" />
      </div>
      <div class="form-control">
        <input type="password" formControlName="password" placeholder="Contraseña" />
      </div>
      <button type="submit">Entrar</button>
    </form>
    <p>No tienes cuenta? <button (click)="goToRegister()">Registrate aquí</button></p>
  </div>
</div>
